// Loader
// ------------------

$loader-size: 75px;
$loader-border-color: #000;
$loader-spin-speed: 3000ms;
$loader-pulse-speed: 2.4s;
$loader-pulse-size: 130px;

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.loader {
    position: absolute;
    background-color: #000;
    width: #{rem-calc($loader-size)};
    height: #{rem-calc($loader-size)};
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: rem-calc(1) solid $loader-border-color;
    box-shadow: rem-calc(0 0 0 1) rgba($loader-border-color, .2);

    .logo-stamp {
        width: #{rem-calc($loader-size - 30)};
        display: block;
        margin: auto;
        margin-top: rem-calc(14);
        animation-name: spin;
        animation-duration: $loader-spin-speed;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.loader-subtitle {
    margin-top: rem-calc(100);
}


.loader {
    &:after, &:before {
        content: '';
        position: absolute;
        border: rem-calc(1) solid $loader-border-color;
        opacity: 1;
        border-radius: 50%;
        animation: pulse $loader-pulse-speed cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
}

.loader  {
    &:after {
        animation-delay: -$loader-pulse-speed/2;
    }
}

@keyframes pulse {
    0% {
        top: rem-calc(-1); // loader border helper
        left: rem-calc(-1); // loader border helper
        width: #{rem-calc($loader-size)};
        height: #{rem-calc($loader-size)};
        opacity: .7;
    }

    100% {
        top: calc( (#{-$loader-pulse-size} - #{-$loader-size}) / 2);
        left: calc( (#{-$loader-pulse-size} - #{-$loader-size}) / 2);
        width: #{rem-calc($loader-pulse-size)};
        height: #{rem-calc($loader-pulse-size)};
        border-color: $loader-border-color;
        opacity: 0;
    }
}