@import './variables.css';

.noScrollIndicator {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.noScrollIndicator::-webkit-scrollbar {
    display: none;
}