@import "variables.css";
@import "reset.css";
@import "fonts.css";
@import "storybook.css";

body {
  font-family: Poppins, sans-serif;
  font-size: var(--font-size-m);
  letter-spacing: 0.02em;
  font-weight: 400;
}

.noScrollIndicator {
  scrollbar-width: none;
}

.noScrollIndicator::-webkit-scrollbar {
  display: none;
}
