@import "variables.css";
@import "reset.css";
@import "fonts.css";

body {
  font-family: Poppins, sans-serif;
  font-size: var(--font-size-m);
  letter-spacing: 0.25px;
  font-weight: 400;
}

.noScrollIndicator {
  scrollbar-width: none;
}

.noScrollIndicator::-webkit-scrollbar {
  display: none;
}

.text-truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.storybook-grid {
  display: flex;
  gap: 15px;
}

.storybook-block {
  width: 380px;
}

.storybook-grid-rows {
  display: flex;
  flex-direction: column;
  gap: 15px;
}