:root {
  /** Primary colors **/
  --white: #ffffff;
  --black: #000000;
  --brown: #bb7851;
  --yellow: #eae71b;
  --online: #01ffb3;
  --dnd: #f25d05;

  /** Typography **/
  --font-size-xxl: 18px;
  --font-size-xl: 16px;
  --font-size-l: 15px;
  --font-size-m: 14px;
  --font-size-s: 13px;
  --font-size-xs: 12px;

  /* Transition */
  --tr-100-ei: 100ms ease-in;
  --tr-150-ei: 150ms ease-in;
  --tr-200-ei: 200ms ease-in;
}
