@import './fonts';
@import './reset';
@import './variables.css';
@import './unity';
@import './google';
@import './range';

body {
  font-family: IBM Plex Sans, sans-serif;
  font-size: var(--font-size-xs);
  overflow: hidden;
}

#main {
  padding: 0 0 70px 0;
  display: flex;
  height: 100vh;
  z-index: 30;
}

.main-content {
  display: flex;
  width:100%;
  pointer-events: auto;
  z-index: 1;
}

.scene-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(32, 42, 68, .7);
}

.noScrollIndicator {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.noScrollIndicator::-webkit-scrollbar {
  display: none;
}

.text-truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
