@import 'src/static/styles/variables';
@import './google';
@import './range';

body {
  overflow: hidden;
}

main {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
}

#sectioned-screen-container {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--base-z-index);
  pointer-events: none;
}

.birth-of-me-active {
  display: block !important;
}

.react-birth-of-me-active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}