@import "variables.css";
@import "reset.css";
@import "fonts.css";

.noScrollIndicator {
  scrollbar-width: none;
}

.noScrollIndicator::-webkit-scrollbar {
  display: none;
}

.text-truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
