:root {
  /** Primary colors **/
  --danger: #ffae63;
  --blue: #000C29;
  --blue-light: #004373;
  --blue-dark: #051745;
  --online: #01ffb3;
  --dnd: #f25d05;
  --offline: #ffae63;
  --accent-color: #01ffb3;
  --color-picker-bg: #25355e;
  --uploader-bg: #132247;
  --color-dropdown-bg: #25355e;
  --danger-red: #f25d05;
  --danger-red-50: #f25d0580;
  --toolbar-bg: #0c0c0c4d;

  --white: #ffffff;
  --black: #000000;
  --black-selected: #000101;

  --white-30: #fff2f14d;
  --white-100: #fff2f1;

  --black-100: #0c1019f2;
  --black-90: #0c1019e6;
  --black-80: #0c1019cc;
  --black-70: #0c1019b3;
  --black-60: #0c101999;
  --black-50: #0c101980;
  --black-40: #0c101966;
  --black-30: #0c10194d;
  --black-20: #0c101933;
  --black-10: #0c10191a;

  /** Input colors **/

  --input-background: #121c34;
  --hover-background: #25355e;

  /** Toast messages **/
  --success-background: rgba(7, 219, 159, 0.5);
  --success-border-color: rgba(7, 219, 159, 1);
  --warning-border-color: rgba(240, 145, 2, 1);
  --warning-background: rgba(240, 145, 2, 0.5);
  --default-progress-bar: rgba(240, 145, 2, 1);

  /** Typography **/
  /* --font-size-xxxl: 25px;
  --font-size-xxl: 22px;
  --font-size-xl: 18px;
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 13px;
  --font-size-xs: 12px;
  --font-size-xxs: 11px; */
  --font-size-xxxl: 20px;
  --font-size-xxl: 18px;
  --font-size-xl: 16px;
  --font-size-l: 15px;
  --font-size-xxs: 11px;
  --font-size-xxxs: 10px;
  --font-size-xxxxs: 9px;

  --font-weight-bold: 700;

  /* Transition */
  --tr-100-ei: 100ms ease-in;
  --tr-150-ei: 150ms ease-in;
  --tr-200-ei: 200ms ease-in;

  /* File Uploader */
  --file-uploader-width: 480px;
  --file-uploader-height: 110px;

  /* Z INDEXES */
  --dialog-z-index: 100;
  --overlay-z-index: 40;
  --base-z-index: 1;

  /* MUSIC PLAYER */
  --player-default-color: rgba(255, 255, 255, 0.5);

  /* MEETING */
  --meeting-size: 95px;
  --space-bar-width: 100px;
  --space-page-width: calc(100vw - var(--meeting-size) - var(--space-bar-width));
}
