name: build-deploy

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - master
      - release/*
      - feature/happyship-wisp

    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  build-app:
    runs-on: self-hosted # ubuntu-latest
    steps:
      - id: build
        uses: momentum-xyz/docker-build-action@3cdd3de5ce98b81c759989641982675ee93ea155  # v6.3.3
        with:
          registry-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          registry-user: ${{ secrets.REGISTRY_USERNAME }}
          registry-pass: ${{ secrets.REGISTRY_PASSWORD }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          npm-token: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      version: ${{ steps.build.outputs.version }}
  dev2-deploy:
    runs-on: self-hosted
    needs: build-app
    if: github.ref == 'refs/heads/develop'
    concurrency: dev-deploy-${{ github.ref }}
    steps:
      - id: deploy-dev
        uses: momentum-xyz/deploy-action@v1
        with:
          version: ${{ env.VERSION }}
          k8s-credentials: ${{ secrets[secrets.REF_K8S_DEV2] }}
  build-plugins:
    runs-on: self-hosted
    needs: build-app
    strategy:
      matrix:
        plugin: ["miro", "gdrive", "video"]
        include:
          - plugin: gdrive
            directory: google_drive
            deploy: google-drive
    steps:
      - name: "Checkout"
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c  # v3.0.3
      - id: build-plugin
        name: Build plugin
        uses: ./.github/actions/build-plugin
        with:
          plugin-name: ${{ matrix.plugin }}
          version: ${{ needs.build-app.outputs.version }}
          registry-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          registry-user: ${{ secrets.REGISTRY_USERNAME }}
          registry-pass: ${{ secrets.REGISTRY_PASSWORD }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          k8s-credentials: ${{ secrets[secrets.REF_K8S_DEV2] }}
          plugin-dir: ${{ matrix.directory }}
          deploy-name: ${{ matrix.deploy }}
  ops-deploy:
    runs-on: ubuntu-latest
    needs: [build-app, build-plugins]
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    env:
      PROJECT_NAME: ${{ github.event.repository.name }}
      VERSION: ${{ needs.build-app.outputs.version }}
    steps:
      - id: deploy-ops
        name: Dispatch to Operations
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.ODYSSEY_OPERATIONS }}
          repository: momentum-xyz/Operations
          event-type: make-acc-pr
          client-payload: '{"name": "${{ env.PROJECT_NAME }}", "version": "${{ env.VERSION }}", "actor": "${{ github.event.actor.login }}"}'
