name: build-deploy

on:
  push:
    branches:
      - develop
      - develop-plugins
      - master
      - release/*

    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  build-app:
    runs-on: self-hosted  # ubuntu-latest
    steps:
      - id: build
        uses: momentum-xyz/docker-build-action@v6.2.1
        with:
          registry-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          registry-user: ${{ secrets.REGISTRY_USERNAME }}
          registry-pass: ${{ secrets.REGISTRY_PASSWORD }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      version: ${{ steps.build.outputs.version }}
  dev-deploy:
    runs-on: self-hosted
    needs: build-app
    if: github.ref == 'refs/heads/develop'
    concurrency: dev-deploy-${{ github.ref }}
    steps:
      - id: deploy-dev
        uses: momentum-xyz/deploy-action@v1
        with:
          version: ${{ env.VERSION }}
          k8s-credentials: ${{ secrets[secrets.REF_K8S_DEV] }}
  dev2-deploy:
    runs-on: self-hosted
    needs: build-app
    if: github.ref == 'refs/heads/develop-plugins'
    concurrency: dev-deploy-${{ github.ref }}
    steps:
      - id: deploy-dev
        uses: momentum-xyz/deploy-action@v1
        with:
          version: ${{ env.VERSION }}
          k8s-credentials: ${{ secrets[secrets.REF_K8S_DEV2] }}
  dev-release-deploy:
    runs-on: self-hosted
    needs: build-app
    if: ${{ startsWith(github.ref, 'refs/heads/release/v') }}
    concurrency: dev-deploy-${{ github.ref }}
    steps:
      - id: deploy-dev
        uses: momentum-xyz/deploy-action@v1
        with:
          version: ${{ env.VERSION }}
          k8s-credentials: ${{ secrets[secrets.REF_K8S_DEV_REL] }}
  ops-deploy:
    runs-on: ubuntu-latest
    needs: build-app
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    env:
      PROJECT_NAME: ${{ github.event.repository.name }}
      VERSION: ${{ needs.build.outputs.version }}
    steps:
      - id: deploy-ops
        name: Dispatch to Operations
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.ODYSSEY_OPERATIONS }}
          repository: momentum-xyz/Operations
          event-type: make-acc-pr
          client-payload: '{"name": "${{ env.PROJECT_NAME }}", "version": "${{ env.VERSION }}", "actor": "${{ github.event.actor.login }}"}'
  build-miro:
    runs-on: self-hosted  # ubuntu-latest
    needs: build-app
    steps:
      - id: build-miro
        uses: momentum-xyz/docker-build-action@v6.2.1
        with:
          registry-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
          registry-user: ${{ secrets.REGISTRY_USERNAME }}
          registry-pass: ${{ secrets.REGISTRY_PASSWORD }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          image-name: plugin-miro
          multistage-target: plugin-runtime
          extra-args: --build-arg PLUGIN=miro
    outputs:
      version: ${{ steps.build.outputs.version }}
